body {
    color: #232323;
    font-size: 20px;
    font-family:Georgia, 'Times New Roman', Times, serif;
 }
 .logo-text {
    font-size: 30px;
    text-transform: uppercase;
    font-weight: bolder;
 }
 .navbar .nav-link {
    font-size: 15px;
    text-transform: uppercase;
    letter-spacing: 1px;
 }
 .navbar {
    border-bottom: 1px solid #6666661a;
 }
 a {
    font-weight: 100;
    transition: all 0.4s ease;
 }
 .navbar-light .navbar-nav .nav-link.active{
    color: #13cbb9;
 }
 .navbar-light .navbar-nav .nav-link:hover{
    color: #13cbb9;
 }
 .container4{
    margin-top: 50px;
    padding: 20px 50px;
 }
 .container4 .boxx{
    color: white;
 }
 .container4 .boxx .boxContent{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 50px;
    text-align: center;
 }
 .container4 .boxx .boxContent .i{
    color: white;
    background-color: #18a496;
    border: 1px solid #18a496;
    border-radius: 50%;
    font-size: 60px;
    padding: 15px;
 }
 .container4 .boxx .boxContent .titles{
    font-size: 24px;
    font-weight: bold;
    padding: 20px;
 }
 .container4 .boxx .boxContent .desc{
    font-size: 15px;
    height: 20%;
 }

 .container2{
    background-color: rgba(233, 231, 231, 0.306);
    padding: 40px 80px;
    margin-top: 50px;
 }
 .hh{
    background-color: #199e91;
    height: 20px;
    font-size:20px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 30px;
    color: white;
    margin-bottom: 0px;
 }
 .doller{
    background-color: rgb(227, 226, 226);
    height: 100px;
    font-size: 70px;
 }
 .btn2{
    background-color: #199e91;
    border: 1px solid #199e91;
    height: 50px;
    width: 100%;
    
 }
 .hhh{
    font-size: 30px;
    font-weight: bold;
 }
 j{
    color: #13cbb9;
 }
 b{
    font-size: 35px;
 }
 .sub{
    font-size: 15px;
 }
 .sup{
    font-size: 30px;
 }

/* features */
.container3{
    margin-top: 50px;
}
.cards{
    padding: 10px;
    margin: 10px;
    background-color: rgb(246, 244, 244);
    border-radius: 5px;

}
.h22{
    text-align: left;
    font-size: 20px;
    font-weight: bold;
}
.button{
    margin-left: 0;
    display: flex;
    margin: 20px;
    width: 120px;
    height: 40px;
    padding-top: 5px;
    justify-content: center;
    border: 1px solid rgb(246, 244, 244);
    border-radius: 10px;
    box-shadow: 0 0 10px gray;
}

#client{
    margin-top: 50px;
    background-color: #898fa131;
 }
 
 .imgg{
    display: flex;
    width: 200px;
    height: 150px;
    margin: 10px;
    opacity: .2;
 }

 /*footer*/
 footer{
    margin-top: 50px;
    background-color: #2e2e2e;
    color: white;
 }
 .footer-top {
    padding-top: 40px;
    padding-bottom: 10px;
 }
 .mb r{
    font-size: 15px;
    background-color: #13cbb9;
    border-radius: 5px;
 }
 
 .footer-bottom {
    padding-top: 10px;
    padding-bottom: 20px;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
 }
 
 footer .social-icons a {
    font-size: 24px;
 }
 
 footer .footer-links a {
    display: block;
    font-weight: 400;
    color: whitesmoke;
 }
 
 footer .social-icons a:hover,
 footer .footer-links a:hover {
    color: #f8f7f8;
 }
 
 